In [ ]:
#1. Write a code to create a string with your name and print it?
s = "Sumit"
print(s)

#2. Write a code to find the length of the string "Hello World".
s = "Hello World"
print(len(s))

#3. Write a code to slice the first 3 characters from the string "Python Programming"?
s = "Python Programming"
slice_is = s[:3]
print(slice_is)

#4. Write a code to convert the string "hello" to uppercase?
s = "hello"
s = s.upper()
print(s)


#5. P Write a code to replace the word "apple" with "orange" in the string "I like apple"?
s = "I like apple"
s = s.replace('apple', 'orange')
print(s)

#6.Write a code to create a list with numbers 1 to 5 and print it
l = [1,2,3,4,5]
print(l)

#7. Write a code to append the number 10 to the list [1, 2, 3, 4]?
l1 = [1,2,3,4]
l1.append(10)
l1

#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
l2 = [1,2,3,4,5]
l2.remove(3)
l2


#9.P Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
l3 = ['a', 'b', 'c', 'd']
l3[1]

#10. Write a code to reverse the list [10, 20, 30, 40, 50].
l4 = [10, 20, 30, 40, 50]
l4.reverse()
print(l4)



#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
t1 = (100,200,300)
print(t1)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t2 = ('red', 'green', 'blue', 'yellow')
t2[1:]

#13. . Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t3 = (10, 20, 5, 15)
m = min(t3)
print(m)

#14. . Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t4 = ('dog', 'cat', 'rabbit')
index_is = t4.index('cat')
print(index_is)

#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
t5 = ('Kiwi', 'Mango','apple')
'Kiwi' in t5


#16. . Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

#17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s1  = {1, 2, 3, 4, 5}
s1.clear()
print(s1)


#18. . Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s2 = {1, 2, 3, 4}
s2.remove(4)

#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1 | set2
print("Union of the two sets:", union_set)

#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1 & set2

print("Intersection of the two sets:", intersection_set)


#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d = {
    "name":"Sumit",
    "age":109,
    "city":'Bagusari'
}

print(d)

In [ ]:
# 22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d1 = {'name': 'John', 'age': 25}
d1['country'] = "USA"
print(d1)


# 23.. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d2 =  {'name': 'Alice', 'age': 30}
print(d2['name'])



# 24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d3 =  {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d3['age']

# 25. . Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d4 = {'name': 'Alice', 'city': 'Paris'}
"cty"in d4

# 26.  Write a code to create a list, a tuple, and a dictionary, and print them all
l  = [1,'sumit']
t = (1,'sumit')
d = {
    'name':'sumit',
    'age': 25
}

print(l,t,d)

#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#  result.(replaced)

import random

random_number = [random.randint(1,100)for _ in range(5)]
random_number.sort()
print(random_number)

#28. Write a code to create a list with strings and print the element at the third index
l10 = ['sumit', "apple", 'mango']
print(l10[2])

#29.  Write a code to combine two dictionaries into one and print the result.

dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'New York', 'job': 'Engineer'}


dict1.update(dict2)


print("Combined dictionary:", dict1)

#30.Write a code to convert a list of strings into a set.
l = ['sumit','apple','mango']
print(type(l))
s = set(l)
print(s)
print(type(s))